@font-face {
   font-family: 'ClashDisplay-Semibold';
   font-display: swap;
   src: url('file:///C:/Users/Admin/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-04-14_162941/fonts/ClashDisplay-Semibold/font.ttf');
}
